html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    background-color: #fff;
}
 
body {
    height: 100%;
    display: block;
}
 
section[role="region"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}

[data-type="list"] li > aside img {
    height: 4rem;
    width: 4rem;
    margin: 1rem 1rem 0 0;
}

#track-list li {
    background-repeat: no-repeat;
    background-size: 0% 100%;
    padding: 0 1em;
}

#track-list li.selected {
    background-color: #ddd;
    background-size: 100% 100%;
}

#track-delete-confirm {
    opacity: 0;
}

#track-delete-confirm.fadeIn {
    animation: fadeIn 0.2s forwards;
}

#track-delete-confirm.fadeOut {
    animation: fadeOut 0.2s forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
